html, body{
  width:100%;
  height:100%;
  background-color:#fff;
font-family: Open Sans;
  }
  
.icon-bar {
width: 22px; 
height: 2px;
background-color: blueviolet;
display: block;
transition: all 0.2s;
margin-top: 4px
}

.navbar-toggler {
border: none;
background: transparent !important;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}  
.navbar-collapse{
  text-align: center;
}
nav{
background: #9ACD32;
}
/* h2 {
color: #333;
text-align: center;
text-transform: uppercase;
font-family: "Roboto", sans-serif;
font-weight: bold;
position: relative;
margin: 30px 0 60px;
}
h2::after {
content: "";
width: 100px;
position: absolute;
margin: 0 auto;
height: 3px;
background: #8fbc54;
left: 0;
right: 0;
bottom: -10px;
} */
.col-center {
margin: 0 auto;
float: none !important;
}

.carousel-inner,.carousel,.item,.container,.fill {
height:100%;
width:100%;
background-position:center center;
background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0px;}

/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner> .item.next ,  .carousel-inner > .item.active.right{ transform: translateY(100%); -webkit-transform: translateY(100%); -ms-transform: translateY(100%);
-moz-transform: translateY(100%); -o-transform: translateY(100%);  top: 0;left:0;}
.carousel-inner > .item.prev ,.carousel-inner > .item.active.left{ transform: translateY(-100%); -webkit-transform: translateY(-100%);  -moz-transform: translateY(-100%);
-ms-transform: translateY(-100%); -o-transform: translateY(-100%); top: 0; left:0;}
.carousel-inner > .item.next.left , .carousel-inner > .item.prev.right , .carousel-inner > .item.active{transform:translateY(0); -webkit-transform:translateY(0);
-ms-transform:translateY(0);-moz-transform:translateY(0); -o-transform:translateY(0); top:0; left:0;}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators{
position:absolute;
top:0;
bottom:0;
margin:auto;
height:20px;
right:10px; left:auto;
width:auto;
}
.carousel-indicators li{display:block; margin-bottom:5px; border:1px solid #00a199; }
.carousel-indicators li.active{margin-bottom:5px; background:#00a199;}
/*-------- Animation slider ------*/

.animated{
animation-duration:3s;
-webkit-animation-duration:3s;
-moz-animation-duration:3s;
-ms-animation-duration:3s;
-o-animation-duration:3s;
visibility:visible;
opacity:1;
transition:all 0.3s ease;
}
.carousel-img{   
 display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.item img{margin:auto;visibility:hidden; opacity:0; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease;}
.item1 .carousel-img img , .item1.active .carousel-img img{max-height:300px;}
.item1.active .carousel-img img.animated{visibility:visible; opacity:1; transition:all 1s ease; -webkit-transition:all 1s ease; -moz-transition:all 1s ease; -ms-transition:all 1s ease; -o-transition:all 1s ease;
animation-duration:2s; -webkit-animation-duration:2s; -moz-animation-duration:2s; -ms-animation-duration:2s; -o-animation-duration:2s; animation-delay:0.3s ; -webkit-animation-delay:0.3s;
-moz-animation-delay:0.3s;-ms-animation-delay:0.3s; }
.item .carousel-desc{color:#fff; text-align:center;}
.item  h2{font-size:50px; animation-delay:1.5s;animation-duration:1s; }
.item  p{animation-delay:2.5s;animation-duration:1s; width:50%; margin:auto;}

.item2 .carousel-img img , .item2.active .carousel-img img{max-height:300px;}
.item2.active .carousel-img img.animated{visibility:visible; opacity:1; transition:all 0.3s ease; animation-duration:3s; animation-delay:0.3s}
.item2 h2 , item2.active h2{visibility:hidden; opacity:0; transition:all 5s ease;}
.item2.active h2.animated{visibility:visible; opacity:1;  animation-delay:3s;}

.item .fill{padding:0px 30px; display:table; }
.item .inner-content{display: table-cell;vertical-align: middle;}
.item3 .col-md-6{float:none; display:inline-block; vertical-align:middle; width:49%;}

.item3.active .carousel-img img.animated{visibility:visible; opacity:1; transition:all 0.3s ease; animation-duration:2s; animation-delay:0.3s}
.item3 h2 , item3.active h2{visibility:hidden; opacity:0; transition:all 5s ease; }
.item.item3 .carousel-desc{text-align:left;}
.item3.active h2.animated{visibility:visible; opacity:1;  animation-delay:1.5s}
.item3 p , item3.active p{visibility:hidden; opacity:0; transition:all 5s ease; width:100%;  }
.item3.active p.animated{visibility:visible; opacity:1;  animation-delay:2.5s;}

@media(max-width:991px)
{
.item .carousel-desc , .item.item3 .carousel-desc{text-align:center;}
.item .carousel-desc p {width:80%;}
.item3 .col-md-6{width:100%; text-align:center;}
}
@media(max-width:768px)
{
.item .carousel-img img, .item.active .carousel-img img{max-height:155px;}
.item  h2{font-size:30px; margin-top:0px;}
.item .carousel-desc p{width:100%; font-size:12px;}
}
@media(max-width:480px)
{
.item  h2{font-size:30px;}
.item .carousel-desc p{width:100%;}
}
.bottom-left {
margin-top: -35px;
margin-left: 20px;
color: white;
}
.dot{
height: 40px;
width: 40px;
border-radius: 50%;
text-align: center;
font-size: small;
color: white;
}
#carbs {
height: 395px;
margin-bottom: 20px;
margin-top: 50px; 
background: #9ACD32; 
}
.popular-text{
text-align: center;
margin: auto;
color: white;
padding-top: 10px;

}


.save {
color: #FFFFFF;
}
.purchase{
font-size: small; 
text-transform: capitalize;
color: #FFFFFF;
}
.btn {
border-radius: 20px; 
margin-top: 5px; 
background-color: white; 
text-transform: capitalize;
}
#fontAwesome {
color: #FFFFFF;
}
#loginBtn {
background-color: white; 
width: 100px; 
border-radius: 15px;
}
.new {
position: absolute;
width: 134px;
height: 25px;
left: 156px;
top: 894px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #000000;
}
.carb-text {
margin-top: 50px; 
font-size: 60px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: 98px;
/* identical to box height */


color: #FFFFFF;
}
.carb-save {
margin-top: 10px;
font-family: Open Sans;
font-style: normal;
font-size: 18px;
line-height: 25px;
text-align: center;
}
#carbBtn {
background-color: white; 
border-radius: 60px; 
width: 150px; 
font-weight: bold; 
margin-top:10px;
}
#cardBtn {
position: absolute;
width: 204px;
height: 62px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
}
.categories{
margin-top: 50px;
}

#divImage img {
width: 100%;
height: 200px;
}
.row{
padding: 20px;
}
#fruit, #packagedFood, #soup, #foodstuff, #oil{
background:#9ACD32; 
height: 264px;
width: 564px;
}
#fruitImage, #packagedImage,
#soupImage,
#foodImage,
#oilImage {
height: 264px; 
padding: 0px;
width: 564px;
}
#fruitImage img, #packagedImage img, #soupImage img, #foodImage img, #oilImage img {
width: 100%;
height: 264px;
}
.fruit-text, .packaged-text, .soup-text, .foodstuff-text, .oil-text, .meat-text {
color: white; 
margin-left: 20px; 
margin-top: 80px; 
width: 247px;
height: 98px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
}
#meat {
background:#9ACD32; 
width: 1128px;
height: 264px;;
}
.black-box {
margin-top: 30px; 
background: black; 
height: 138px;
}
.black-box-thumbs, .black-box-stopwatch, .black-box-truck {
margin-top: 40px;
margin-left: 2px;
margin-bottom: 40px;
width: 200px;
color: white;
font-family: Open Sans;
font-style: normal;
font-size: 10px;

}
#thumbs, #stopwatch, #truck{
left: 0%;
right: 10%;
top: 0%;
bottom: 0%;
}
.footer {
background: #9ACD32;
height: 521px;
}
.footer-header{

height: 30px;
margin-top: 70px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
/* identical to box height */


color: #FFFFFF;
}
.footer-text{
margin-top: -30px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 25px;

color: #FFFFFF;
}
#googlePlay{
width: 50px;
height: 63px;
background: black;
border: 1px solid red;
}
.item{
font-style: normal;
font-weight: bold;
font-size: 16px;
}
.item{
list-style: none;
margin-left: -10px;
font-size: 16px;
}
.login {
  background: rgba(0, 0, 0, 0.6) url(../images/achara.jpg);
  height: 800px;
}
.signup {
  background: rgba(0, 0, 0, 0.6) url(../images/tomato.jpg);
  height: 800px;
}
#divLogin{
  background-color: white; 
  margin-top: 50px;
  
  width: 1152px;
  height: 654px; 
}
.login-header, .signup-header {
  margin-top: 50px;
  text-align: center;
}
.welcome{
  margin-top: 5px;
  font-family: Open Sans;
font-style: normal;

font-size: 10px;
}
.justify-content-center{
  padding-top: 20px;
}
#password-form4-1, #email-form4-1, #name-form4-1, #phone-form4-1{
  border-radius: 30px;
  width: 75%; 
  margin: auto; 
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.15);
}

.forgot-password{
  margin-bottom: 30px;
  text-align: center;
  font-family: Open Sans;
font-style: italic;
font-weight: 600;
font-size: 14px;
line-height: 19px;
}
.login-btn{
  margin-bottom: 30px;
  text-align: center;
  width: 75%; 
  margin: auto; 
  background: #9ACD32; 
  border-radius: 30px;
}
#btnLogin {
  background-color: #9ACD32;
  color: white;
  font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
}
#btnSignup {
  background-color: #9ACD32;
  color:black;
  font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
}

.continue-google{
  margin-bottom: 30px;
  text-align: center;
  width: 75%; 
  margin: auto; 
  background: black; 
  border-radius: 30px;
}
#continueGoogle {
  background: black; 
  color: white;
  font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
}
.have-no-account{
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 14px;
text-align: center;
}
#divSearch{
  margin-top: 40px;
  width: 1135px;
  height: 45px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 60px;
}
#searchResult {
  margin-top: 10px;
}
#beansImage, #yamImage{
  margin-top:30px;
}
.bottom-left{
  margin-top: -35px; 
  margin-right: 2px;
  text-transform: uppercase;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
}
#ingredients{
  margin-top: 10px;
  border: 2px solid #000000;
box-sizing: border-box;
border-radius: 60px;
}
#carb, #melon, #spices, #spices1{
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
  text-align: center;
  font-size: small;
  margin-right: 10px;
  width: 100px;
height: 45px;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 60px;
}
#text_carb{
  margin-top: 9px;
}
.all-results{
  font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
}
#order-name{
  margin-top: 28px;
  margin-right: 15px;
  height: 178px;
  background: #9ACD32;  
}
#my-order{
  margin-top: 28px;
  height: 178px;
  background: #C4C4C4;
  float: right;
}
.profile{
  margin-left: 1px;
  margin-top:47px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background:  #C4C4C4;
  border: 2px solid white;
}

#orderHead{
  margin-left: 50px;
  margin-top: 65px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
}
#orderCart{
  margin-right: 20px;
}

#orderName{
  
  height: 178px;
  margin-right: 15px;
 background: #9ACD32;  
}
#orderDiv{

  height: 178px;
  background:  #C4C4C4;
}
.row{
  margin: auto;
}
#orderHeader{
  margin-right: 15px;
  height: 80px;
  background:  #C4C4C4;
}
#orderInfo{
  height: 90px;
  background:  #C4C4C4;
}
.order-text{
  margin-top: 65px;
  margin-left: 20px;
}
#cartIcon{
  margin-right: 20px;
}
#orderText{
  margin-top: 20px;
  margin-left:5px;
  font-size: small;
}
.order-info, .start-shopping{
  text-align: center;
  font-weight: bold;
}
.btn-shop{
  width: 342px;
height: 64px;
}
#btnShop{
  background: #9ACD32;   
}
#orderIcon{
  color: black;
}
#ingredients{
  padding-left:50px;
}
#searchIcon{
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}